<%- include("../head") %>
<div class="container">
  <header class="sub">
    <h1>Watson Machine Learning</h1>
  </header>

  <div class="main-contents">
    <div class="main-content-2 content-2">
      <a href="/watson_machine_learning/calculator"></a>
      <h1>Hand Written Calculator</h1>
    </div>
  </div>

  <footer>
  </footer>
</div>
<%- include("../bottom") %>