<%- include("../head") %>
<div class="container">
  <header class="sub">
    <h1>Speech to Text</h1>
  </header>

  <div class="main-contents">
    <div class="main-content-2 content-3">
      <a href="/text_to_speech/word_relay"></a>
      <h1>Voice Word Relay</h1>
    </div>
  </div>

  <footer>
  </footer>
</div>
<%- include("../bottom") %>
