<%- include("../head") %>
<div class="container">
  <header class="sub">
    <h1>Visual Recognition</h1>
  </header>

  <div class="main-contents">
    <div class="sub-content">
      <form method="post" action="/visual_recognition/dogcat/dogcat_judge" enctype="multipart/form-data">
        <input type="file" name="upload_file">
        <input type="submit" value="判定">
      </form>
      <% if(results){ %>
        <p>解析結果</p>
        <p>判定: <%= results.class %></p>
        <p>スコア: <%= results.score %></p>
      <% } %>
    </div>
  </div>

  <footer class="sub">
  </footer>
</div>
<%- include("../bottom") %>