<%- include("../head") %>
<div class="container">
  <header class="sub">
    <h1>Visual Recognition</h1>
  </header>

  <div class="main-contents">
    <div class="main-content-1 content-1">
      <a href="/visual_recognition/dogcat"></a>
      <h1>Dog or Cat?</h1>
    </div>
    <!-- <div class="main-content-1">

    </div>
    <div class="main-content-1">

    </div> -->
  </div>

  <footer>
  </footer>
</div>
<%- include("../bottom") %>